body{
    background-color: #222;
    color: aliceblue;
}
#newsCarousel .carousel-control-prev{
  top:80%!important; 
  left:90%!important; 
}
#newsCarousel .carousel-control-next{
    top:80%!important;  
  }